DEBUG=True
SECRET_KEY=troque-esta-chave-em-producao
DATABASE_URL=postgres://database:database@db:5432/database
ALLOWED_HOSTS=localhost,127.0.0.1
MEDIA_ROOT=/app/media
STATIC_ROOT=/app/staticfiles
DJANGO_SETTINGS_MODULE=config.settings.development
